<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Albatross Client App</title>
    <meta name="description" content="Albatross Client App">
    <meta name="author" content="Keith La Force">

</head>

<body>
    test
</body>
</html>